@{
    ViewBag.Title = "View Page 1";

    int a, b, c;
    string add;
    a = 10;
    b = 20;
    c = a + b;
    add = "Addition is:" + c;
    
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>@add</h2>

